html {
	scroll-behavior: smooth;
}

body {
	background-color: #c7b8cc;




}

h1, h3 {
	font-family: "DIN Condensed";
}

h1 {
	background-color: #c5de92;
	padding: 18px 20px 15px 20px;
	font-size: 80px;
	color: #6c8f60;
	max-width: 500px;
	margin-left: -10px;
	/*text-align: center;*/
	/*margin-block-start: 3px;*/
	margin-block-end: 10px;
	/*border: 3px solid;*/
	/*box-shadow: 5px 10px 18px #888888:*/
}
.grid {
	/*display: grid;*/
	grid-template-columns: auto auto;
	background-color: #c7b8cc;
	padding: 5px;
	margin: 40px;
	/*grid-column-gap: 20px;
	grid-row-gap: 20px;*/
	/*border-radius: 15px;*/
}

.trend-topics {
	font-family: 'DIN Condensed';
	max-width: 80%;
	height: 300px;
	background-color: #C1A3C8;
	margin-top: 30px;
	padding-top: 150px;
	text-align: center;
	font-size: 100px;
	color: #A474B0;
	border-left: solid 7px #a474B0;
	border-bottom: solid 10px #a474B0;

}

#back-up {
	float:right;
	margin-right:30px;
	margin-top: 130px;
	position: -webkit-sticky;
  	position: sticky;
  	top: 60px;
  	margin-top:10px;
  }


  a {
  	text-decoration: none;
  	color: #a474b0;

  }

  .trend-topics:hover {
  	border-color: peru;
  	background-color: #c5de92;
  }

  .trend-topics:active {
  	background-color: #6c8f60;
  }

  a:hover {
  	color: #6c8f60;
  }







