body { 
	background-color: Bisque;
	overflow:hidden;
	
 }

 ul { 
 	/*display: block;
	float: left;*/
	text-align: center; 
  }

li {
	list-style-type: none;
	display: inline;
	float: center;
	text-align: center;
	color: white;
	font-size: 30px;
	font-family: "DIN Condensed";
	line-height: 3;
}

a{ 
	color: white;
	text-decoration: none;
	padding: 40px;
	text-align: center;
 }

 a:hover {
 	color: rgb(255, 138, 169);
 }

 a:active {
 	color: white;
 }

 h1 {
 	text-align: center;
 	font-family: "DIN Condensed";
 	font-size: 100px;
 	padding-top: 150px;
 	color: tomato;
 	line-height: .2
 }

 h4 {
 	text-align: center;
 	font-family: "DIN Condensed";
 	color: white;
 	font-size: 20px;
 	padding: 50px;
 }

 
